@{
    ViewData["Title"] = "Все заметки";
}

<script src="~/js/index-page.js"></script>

<h1>@ViewData["Title"]</h1>
<div class="index-page__products index-page__products_empty">
</div>



<div class="modal__wrapper">
    <div class="modal">
        <h2 contenteditable="true" class="modal__name"></h2>
        <span contenteditable="true" class="modal__content"></span>
        <span class="modal__date"></span>
    </div>
</div>