@{
    ViewData["Title"] = "Все заметки";
}

<script src="~/js/index-page.js"></script>

<h1>@ViewData["Title"]</h1>
<div class="index-page__products index-page__products_empty">
    Кажется, заметок пока нет
</div>

<button onclick='setIndexPageProducts()' class="btn btn-primary">Отобразить</button>

